$background-image: "../images/back.webp";

.bac {
  position: relative;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 80px;
}

.background {
  background-image: url(#{$background-image});
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.5;
  z-index: -1;
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 столбца одинаковой ширины */
  grid-gap: 30px; /* Уменьшено горизонтальное расстояние */
  width: 100%;
  max-width: 900px; /* Ограничение ширины для центрирования */
  justify-content: center; /* Центрирование элементов внутри сетки */
}