$background-image: "../images/back.webp";

.products-container {
  padding: 2rem;
  background-color: #f595c2;
  min-height: 100vh;
  min-width: 100vw;
  .row {
    justify-content: center;
  }

  .col-lg-2, .col-md-2, .col-sm-3 {
  }
}
.background {
  background-color: lightcoral;

}